pbr==5.11.0
flask==2.0.3
werkzeug==2.0.3
flask-pyoidc==3.11.0
boto==2.49.0
gunicorn==20.1.0
flask_sqlalchemy==2.5.1
flask_migrate==3.1.0
psycopg2==2.9.4
requests==2.27.1
csh_ldap==2.4.0
pylint==2.13.9